
  
<div  class="container body" >
    <div class="row bg-dark">
        <div class="col-4"></div>
        <div class="col-4 text-light">Auto Selected Stories</div>
        <div class="col-4">
            
        </div>
   </div>
    <div class="row">
        
            <div *ngFor="let data of autoSelectedStories" class="card mt-5 m-5" style="width: 18rem;height: 10rem;">
                <div class="card-body">
                  <h2 class="card-title text-center">{{data.stories}}</h2>
                  <h6 class="card-subtitle mb-2 mt-4 text-muted text-center">Points : {{data.points}}</h6>
                </div>
              </div>
        

    </div>

    <div *ngIf="!autoSelectedStories.length" class="row">
        
      <h5 class="text-center text-danger mt-3 mb-3" style="font-size: 15px;">No selected stories</h5>
    

</div>
    
</div>
